# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.TowerDefenseTutorial.iml
# Datasource local storage ignored files
/../../../../../../../../:\UnityProjects\TowerDefenseTutorial\TowerDefense\TowerDefenseTutorial\.idea\.idea.TowerDefenseTutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
